/* General styles for body */
body {
    font-family: Inter, sans-serif;
    font-size: 14px;
}

/* Main application container */
.app {
    position: relative;
}

/* Styling for chat container */
.chat-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ECE8E5;
    height: 650px;
    width: 450px;
    border-radius: 10px;
    margin: 20px auto 0;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);

    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: translateY(100%);
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        bottom: 0;
        right: 0;
        border-radius: 0; /* Optional: remove border-radius for mobile */
    }
}

/* Controls visibility of chat container */
.chat-container-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide into view */
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Popup button to open chat */
.chat-popup-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #F5874F;
    border-radius: 20px 20px 3px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.chat-popup-button:hover {
    cursor: pointer;
    background-color: rgba(245, 135, 79, 0.9);
    transition: background-color 0.3s
}

.chat-popup-message {
    color: #FFFFFF;
    padding: 10px;
}

/* Header within the chat container (Chatbot name, close button) */
.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}

.close-chat {
    font-size: 25px;
    color: #F5874F;
    background-color: #FFFFFF;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

/* Chat footer ("Want to ask a different question?", Reset button) */
.chat-footer {
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.reset-button {
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: #F5874F;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Inter, sans-serif;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: calc(100% - 10px);
}

.reset-button:hover {
    cursor: pointer;
    background-color: rgba(245, 135, 79, 0.9);
    transition: background-color 0.3s
}

/* Chat section (where messages are displayed) */
.chat {
    overflow-y: auto;
    flex-grow: 1;
}

.greeting {
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 3px;
    padding: 0 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    max-width: fit-content;
    width: 55%;
}

.instruction {
    background-color: #FFFFFF;
    border-radius: 3px 20px 20px 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    max-width: fit-content;
    width: 60%;
}

/* Buttons for categories, questions */
.button {
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #F5874F;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    transition: background-color 0.3s
}

.button:hover {
    background-color: rgba(245, 135, 79, 0.2);
    cursor: pointer;
}

.button-container {
    margin-left: 20px;
}

/* Chat bubble for user/system messages */
.chat-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.chat-entry.user {
    align-items: flex-end;
    margin-bottom: 10px;
}

/* Sender label */
.message-sender {
    color: #7a7a7a;
}

/* Message content bubble */
.message-content {
    max-width: 80%;
    word-wrap: break-word;
}

/* Message content bubble */
.message-content p {
    padding: 15px;
    border-radius: 20px 20px 20px 3px;
    background-color: #FFFFFF;
}

/* User message style */
.chat-entry.user .message-content p {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px 20px 3px 20px;
    background-color: #F5874F;
    color: #FFFFFF;
}

/* Introduction text label */
.message-sender-intro {
    margin-left: 20px;
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #7a7a7a;
}

/* Image styles */
.chatbot-header-icon {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.chatbot-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
}

.chat-popup-image {
    width: 30px;
    height: 30px;
}