/*
App:
.app-container
.faq-container

Header:
.back-to-categories-button
.close-chatbot-button
.close-chatbot-container

CategoryList:
.category-button (category button & text)

QuestionList:
.question-list-container (block of question list)
.question-button (question button & text)
.answer-container (answer block & text)
.question-button svg (transition to reset arrow back from pointing down)
.rotate-arrow (rotate arrow by 90deg when question selected)

Greeting:
.greetings-container

Category Description:
.category-desc-container
.category-desc

Footer:
.footer
.message-button

EmailForm:
.email-form-container
.email-form

*/

body {
    background-color: #e3e3e3;
}

/* App */
.app-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 400px;
    background-color: #F7F3F1;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;
}

@media (min-width: 769px) {
    /* If in category view, use default height */
    .app-container {
        height: 600px;
    }

    /* If in question view make the container higher */
    .app-container.adjust-height {
        height: 650px;
    }
}

/* Phone (Small Screen) */
@media (max-width: 769px) {
    .app-container {
        width: 100%;
        height: 100%;
        margin: 0;
        right: 0;
        bottom: 0;
        transition: none;
    }
}

.faq-container {
    border: 1px solid #DCE2E1;
    width: 90%;
    margin: 10px auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: auto;
    transition: opacity 1000ms ease-in-out;
    opacity: 1;

}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

.back-to-categories-button {
    background-color: transparent;
    height: 45px;
    width: 45px;
    color: #0077BD;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    border: none;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.close-chatbot-container {
    margin-left: auto;
}

.close-chatbot-button {
    background-color: transparent;
    height: 45px;
    width: 45px;
    font-size: 24px;
    color: #0077BD;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.back-to-categories-button:hover, .close-chatbot-button:hover {
    background-color: rgba(0, 119, 189, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease
}

.logo-container {
    position: absolute;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    background-color: #0077BD;
}

.logo {
    width: 65px;
    height: 65px;
}

/* CategoryList */
.category-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-button {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-button:hover {
    color: #0077BD;
    background-color: rgba(0, 119, 189, 0.1);
    cursor: pointer;
}

/* QuestionList */
.question-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.question-button {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease
}

.question-button:hover {
    color: #0077BD;
    background-color: rgba(0, 119, 189, 0.1);
    cursor: pointer;
}

.question-button svg {
    transition: transform 0.2s ease-in-out;
}

.answer-container {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #525252;
    margin-left: 20px;
    margin-right: 20px;
}

.rotate-arrow {
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

/* Greeting */
.greetings-container {
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

.hi-there {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #0077BD;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
}

.welcome {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0 40px;
    border-radius: 0 10px 10px 10px;
}

.information {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    margin: 0 40px;
    border-radius: 0 10px 10px 10px;
}

/* Footer */
.footer {
    padding: 20px;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DCE2E1;
}

.message-button {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    min-width: 60%;
    background-color: #0077BD;
    border: none;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease, color 0.3s ease;
}

.message-button:hover {
    background-color: #FF4E02
}

/* Category Description */
.category-desc-container {
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}

.category-desc h1 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #0077BD;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.category-desc p {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    margin: 0 20px;
    border-radius: 0 10px 10px 10px;
}

/* EmailForm */
.email-form-container {
    transition: opacity 1s ease-in-out;
}

.email-form-container p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding-left: 20px;
}

.email-form {
    margin: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DCE2E1;
}

.email-form form {
    display: flex;
    flex-direction: column;
}

.email-form input[type="email"], .email-form textarea {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DCE2E1;
}

.email-form textarea {
    border: 1px solid #DCE2E1;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    resize: none;
}

.email-form button {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.email-form button:hover {
    color: #0077BD;
    background-color: rgba(0, 119, 189, 0.1);
}

/* Open Icon/Button */
.open-icon-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    background-color: #0077BD;
    border: none;
    color: #FFFFFF;
    border-radius: 8px 8px 0 8px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.open-icon-button:hover {
    background-color: #FF4E02;
}